.popup {
  width: 100%;
  height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  .cardRegister {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height:600px;
    margin: 250px auto;
    background: linear-gradient(to bottom, #160129, #517884, #a1d7d7);
  }
  .btnLogin,
  .btnRegister {
    color: white;
    font-weight: bold;
    font-family: "Lucida Console", serif;
    font-style: italic;
    box-shadow: 4px 4px 10px rgba(49, 4, 66, 0.9);
    background: linear-gradient(to bottom, rgb(53, 0, 78), rgb(3,  3, 3));
  }
  .btnLogin:hover,
  .btnRegister:hover {
    color: white;
    transform: scale3d(1.1, 1.1,0.6);
    transition: 0.3s ease;
    outline: 2px solid #351050;
    outline-offset: 2px;
    background: linear-gradient(to bottom, rgb(48, 0, 66), rgb(29, 0, 70));
  }
  .closeBtn {
    color: #ffffff;
    cursor: pointer;
  }
  .closeBtn:hover {
    color: red;
  }
  label {
    font-size: 15px;
    font-family: "Lucida Console", sans-serif;
  }
  .btnSiguiente {
    background-color: #75005e;
    color: white;
  }
  .btnSiguiente:hover {
    background-color: #98027b;
  }
}
