.icon_notifications,
.icon_account,
.icon_cart {
  cursor: pointer;
  transition: 0.2s ease;
  color: white;
  background-color: #5c067f;
}
.icon_notifications:hover,
.icon_account:hover,
.icon_cart:hover {
  box-shadow: 2px 2px 2px #2b063c;
  color: #34054a;
  background: white;
  transform: scaleY(1.1);
  transition: 0.2s ease;
}
.icon_account:focus,
.icon_cart:focus,
.icon_notifications:focus {
  background: #1f6f5d;
  color: white;
  transition: 0.2s ease;
}
.icon_account:active,
.icon_cart:active,
.icon_notifications:active {
  background: #ffffff;
  color: black;
  transition: 0.2s ease;
}
.imgLogo {
  background-size: cover;
  object-fit: cover;
  width: 100%;
  max-width: 100px;
}
.imgLogo1 {
  background-size: cover;
  object-fit: cover;
  width: 100%;
  max-width: 100px;

}

.navBarHome {
  box-sizing: border-box;
  position: absolute;
  width: 95%;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 2px 2px 20px 2px #949494;
  margin-left: 10px;
  margin-right: 10px;
}
.navBarHome a {
  font-weight: bold;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}
.contorno {
  background: linear-gradient(to bottom left, #000000, #2e004f, #a14fc1);
}
.imgHome {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.contenedorImg {
  position: relative;
  width: 100%;
  height: 69.5vh;
  overflow: hidden;
}
.footer_flotante {
   margin-top: -50px;
}
.footer {
  background-color: #F5F5F5;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(0,0,0,.15);
}
.btnEstilo1,.btnEstilo2 {
  border: none;
}
.btnEstilo1:hover {
  color: white;
  border:1px solid transparent;
  box-shadow: 2px 2px 2px #2b063c;
  background-color: #5b9ca1;
  transition: 0.3s ease;
}
.btnEstilo2:hover {
  color: white;
  border:1px solid black;
  box-shadow: 2px 2px 2px #2b063c;
  background-color: #183646;
  transition: 0.3s ease;
}
.efectoEnlace {
  padding: 10px 10px;
  color: #6a2889;
}
.efectoEnlace:hover {
  box-shadow: 2px 2px 2px #1b1e1f;
  color: #5da2c5;
}
.title {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  text-shadow: 10px 40px 15px rgba(0,0,0,0.5);
  letter-spacing: 10px;
}
.iconItemNavBar {
  display: none;
}
.btnIconNavBar {
  border: none;
}
.titleLicoreria {
  display: none;
  font-size: 40px;
  letter-spacing: 30px;
  box-shadow: 2px 2px 10px 1px #000000;
}
.btnBuyAndViewProduct {
  display: none;
  overflow: auto;
}
.lineVertical {
  display: none;
}
@media (max-width: 1380px) {
  .title {
    font-size: 90px;
  }
}
@media (max-width: 1300px) {
  .imgLogo {
    display: none;
  }
  .icon_notifications {
    display: none;
  }
  .title {
    font-size: 70px;
  }
}
@media (max-width: 1200px) {
  .barraNav {
    overflow-x: scroll;
  }
  .imgLogo1 {
    max-width: 80px;
  }
}
@media (max-width: 1100px) {
  .barra {
    display: none;
  }
  .iconItemNavBar {
    display: block;
  }
  .title {
    font-size: 50px;
  }
  .icon_account, .icon_cart {
    margin-top: 10px;
  }
  .titleLicoreria {
    display: block;
  }
}

@media (max-width: 800px) {
  .titleLicoreria {
    display: none;
  }
  .title {
    font-size: 40px;
  }
  .btnBuyAndViewProduct {
    display: block;
  }
  .footerF {
    display: none;
    pointer-events: none;
  }
  .lineVertical {
    display: block;
    width: 60px;
    transform: rotate(90deg);
  }
}
@media (max-width: 706px) {
  .buy,.view {
    font-size: 10px;
  }
}
@media (max-width: 670px) {
  .title {
    font-size: 30px;
  }

}
@media (max-width: 550px) {
  .title {
    font-size: 25px;
  }
}
@media (max-width: 490px) {
  .title {
    font-size: 20px;
  }
}
@media (max-width: 430px) {
  .title {
    font-size: 13px;
  }
}
