<div class="contorno">

  <div class="d-flex align-items-center justify-content-center">
    <a href=""><img src="/icons/LaParada.png" alt="imagen" class="imgLogo"></a>
  </div>
  <div class="navBarHome mt-2 ms-5">
    <div class="d-flex align-items-center justify-content-between me-3">

      <div class="d-flex align-items-center">
        <button type="button" class="btn btnIconNavBar" (click)="toggleBarra()"><i class="bi bi-justify iconItemNavBar"></i></button>
        <img src="/icons/LaParada.png" alt="imagen" class="imgLogo1">
        <hr class="lineVertical me-4">
      </div>
      <p class="m-0 titleLicoreria">LICORERÍA</p>
      <div class="btnBuyAndViewProduct">
        <div class="d-flex align-items-center justify-content-center">
          <div class="d-flex align-items-center justify-content-around gap-2">
            <a href="/carrito" class="btn btnEstilo1 buy">COMPRAR AHORA</a>
            <a href="/Licores" class="btn btnEstilo2 view">VER PRODUCTOS</a>
          </div>
        </div>
      </div>
      <div class="barra">
        <div class="d-flex align-items-center gap-5">
          <a href="home/" class="text-decoration-none fs-5 fw-bold efectoEnlace">HOME</a>
          <a href="/Licores" class="text-decoration-none text-black fs-5 fw-bold efectoEnlace" (click)="verProductos($event)">PRODUCTS</a>
          <a href="/contact" class="text-decoration-none text-black fs-5 fw-bold efectoEnlace">CONTACTS</a>
        </div>
      </div>

      <div class="d-flex align-items-center gap-4">
        <button type="button" class="btn icon_account mb-3" (click)="toggleLogin()"><i class="bi bi-person fs-5"></i></button>
        <button type="button" class="btn icon_notifications mb-3" routerLink="/pedido"><i class="bi bi-bell fs-5"></i></button>
        <button type="button" class="btn icon_cart mb-3" routerLink="/carrito"><i class="bi bi-cart fs-5"></i></button>
      </div>

    </div>
    <div [ngClass]="openBarra()?'position-absolute':'position-relative'">
      <div class="contenedorImg">
        <img src="/background/solar1.jpg" alt="imagen" class="imgHome">
        <p class="title position-absolute fw-bold text-white">LA PARADA</p>
      </div>
      <div class="footerF">
        <div class="d-flex align-items-center justify-content-center position-relative footer_flotante">
          <div class="d-flex align-items-center justify-content-around gap-2 footer">
            <a href="/carrito" class="btn btnEstilo1">COMPRAR AHORA</a>
            <a href="/Licores" class="btn btnEstilo2" (click)="verProductos($event)">VER PRODUCTOS</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


@if (openLogin() == true) {
  <app-login (openLoginDesdeHome)="toggleLogin()"></app-login>
}
@if (openBarra() == true) {
  <app-menuHome-movil (openBarraDesdeMainLayout)="toggleBarra()"></app-menuHome-movil>
}

