<app-layouts></app-layouts>
<h1 class="d-flex align-items-center justify-content-center mt-2 mb-5">Contacto</h1>
<div class="d-flex align-items-center justify-content-around">
  <div class="infoContacto">
    <p>Dirección física: C/Gen 4</p>
    <p>Teléfono: +34 6764276472</p>
    <p>Email: laparada@gmail.com</p>
    <p>Horario de atención: 12:00-17:00 / 18:00-1:00 </p>
  </div>
  <div class="formulario">
    <form method="post" action="">
      <label for="nombre" class="form-floating">Nombre</label>
      <input type="text" class="form-control">
      <label for="email" class="form-floating">Email</label>
      <input type="email" class="form-control">
      <label for="asunto" class="form-floating">Asunto</label>
      <input type="text" class="form-control">
      <label for="asunto" class="form-floating">Mensaje</label>
      <textarea placeholder="Escribe tu mensaje aquí..." class="form-control"></textarea>
      <button type="submit" class="btn d-block w-100 text-white bg-info mt-2">Enviar</button>
    </form>
  </div>
  <div class="">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d122403.52747615053!2d-68.20647849036627!3d-16.520531614381767!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915edf0a04f5a40f%3A0x57dbfc76b4458ab3!2sLa%20Paz%2C%20Bolivia!5e0!3m2!1ses!2ses!4v1770867041432!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>
<app-footer></app-footer>
