<div class="popup">
  <div class="cardRegister">
    <div class="d-flex justify-content-between">
      <div class="d-flex m-auto gap-5 mt-5">
        <button type="button" class="btn btnLogin px-4 py-2" (click)="volverAlLogin.emit()">LOGIN</button>
        <button type="button" class="btn btnRegister px-4 py-2">REGISTRO</button>
      </div>
      <i class="bi bi-x fs-3 closeBtn" (click)="volverAlLogin.emit()"></i>
    </div>
    <hr class="me-5 ms-5 mt-4 border">

    <form method="post">
    <!--Primera parte del formulario-->
      @if (!cambiarForm()) {
        <div class="form-1 d-flex flex-column ms-3 me-3">

          <div class="form-floating mb-3">
            <input type="text" id="nombre" class="form-control" placeholder="">
            <label for="nombre">Nombre</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" id="apellidos" class="form-control" placeholder="">
            <label for="apellidos">Apellidos</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" placeholder="" id="C.I" class="form-control">
            <label for="C.I">C.I</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" id="direccion" class="form-control" placeholder="">
            <label for="direccion">Dirección</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" id="ciudad" class="form-control" placeholder="">
            <label for="ciudad">Ciudad</label>
          </div>

          <button type="button" class="btn d-block w-100 btnSiguiente" (click)="cambiarEstadoForm()">Siguiente</button>

        </div>
      }

      @if (cambiarForm()) {
        <!--Segunda parte del formulario-->
        <div class="form-2 d-flex flex-column me-3 ms-3">
          <div class="form-floating mb-3">
            <input type="email" placeholder="" id="email" class="form-control">
            <label for="email">Email</label>
          </div>

          <div class="form-floating mb-3">
            <input type="password" placeholder="" id="password1" class="form-control">
            <label for="password1">Contraseña</label>
          </div>

        <div class="form-floating mb-3">
          <input type="password" placeholder="" id="password2" class="form-control">
          <label for="password2">Repite la contraseña</label>
        </div>

        <div class="form-floating mb-3">
          <input type="date" id="fechaNacimiento" class="form-control">
          <label for="fechaNacimiento">Fecha de nacimiento</label>
        </div>

        <button type="button" class="btn d-block w-100 mt-2 mb-3 btnSiguiente" (click)="cambiarEstadoForm()">Volver atrás</button>
        <button type="submit" class="btn d-block w-100 btn-info">Enviar</button>

      </div>
      }

    </form>
  </div>
</div>

