.popup {
  width: 40%;
  height: 100dvh;
  background-color: rgb(238, 222, 252);
  top: 26.1%;
  margin-bottom: 3px;
  z-index: 999;
  position: absolute;
  animation: entradaMenu 0.3s ease;
  ol {
    list-style: none;
    gap: 20px;
    margin-right: 10px;
  }
  .list-btn {
    position: relative;
    overflow: hidden;
    z-index: 1;
    padding: 13px 15px;
    cursor: pointer;
    color: #000000;
    border: none;
    font-weight: bold;
  }
  .list-btn:hover {
    color: #ffffff;
  }
  .list-btn:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 80%;
    margin-top: 5px;
    background-color: #cdbbf9;
    z-index: -1;
    transform: translateX(-50%);
    transition: width 0.6s ease;
    border-radius: 20px;
  }
  .list-btn:hover:after {
    width: 100%;
  }
  .list-btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    border-top: 1.5px solid #b84dd2;
    border-bottom: 1.5px solid #a14fc1;
    pointer-events: none;
  }
  .list-btn:hover:before {
    height: 100%;
    transition: height 0.6s ease;
  }
  .navBarCustom {
    border-top: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
  }
}
.textoBottomHr {
  color: #2b063c;
  text-shadow: 2px 2px 2px #dcaff8;
}
@keyframes entradaMenu {
  from {
    opacity: 0;
    transform: scaleX(1.6) translateX(20%);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@media (max-width: 702px) {

}
