.fondo {
  background-image: url('/background/fondom.jpg');
  background-size: cover;
  background-position: top;
}
.tablaFiltro {
  background: linear-gradient(
      145deg,
      #a4a9bd 0%,
      #cdb6e3 35%,
      #5e58a5 65%,
      #a4a9bd 100%
  );
  border-radius: 30px;
  box-shadow: 1px 1px 30px 5px #615f5f;
}
.tablaProductos {
  background: linear-gradient(
      145deg,
      #a4a9bd 0%,
      #cdb6e3 35%,
      #5e58a5 65%,
      #a4a9bd 100%
  );
  box-shadow: 1px 1px 30px 5px #615f5f;
  border-radius: 30px;
}
.hr {
  width: 1px;
  height: 20px;
  background-color: #333;
}
.columnas {
  width: 100%;
}
.cardProducto {
  background-color: #ffffff;
  border: 1px solid #d1d0d0;
  margin-bottom: 40px;
  transition: transform 0.3s;
}
.cardProducto:hover {
  transform: scale(1.02);
  box-shadow: 1px 4px 8px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imagen {
  position: relative;
  width: 100%;
  padding-top: 100%;
}
.img1, .img2 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease;
}
.img2 {
  opacity: 0;
}
.imagen:hover .img2 {
  opacity: 1;
}
.vi単etas {
  position: absolute;
  top: 50px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  opacity: 0;
  transition: opacity 0.3s;
}
.imagen:hover .vi単etas {
  opacity: 1;
}
.circuloVi単eta {
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.circuloVi単eta:hover {
  transform: scale(1.05);
  background: black;
  color: white;
}
.btnAgregarCarrito {
  background-color: #0059ff;
  color: white;
  border: none;
  padding: 5px;
}
.btnAgregarCarrito:hover {
  background-color: #0033af;
}
.footer {
  background: linear-gradient(to bottom left, #1a001a, #4b0064, #a14fc1);
}
.footerGap {
  gap: 300px;
}
.cajaCategoria {
  border: 1px solid #000000;
  border-radius: 30px;
  width: 100%;
  max-width: 300px;
  background: linear-gradient(to bottom, #470c47, #552864, #b368d0);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
.elementosCategoria {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-direction: row;
}
.letraCategoria:hover {
  color: #b300ff;
  text-shadow: 2px 2px 4px rgba(19, 11, 27, 0.6);
}

.letraCategoria {
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(168, 73, 255, 0.6);
}
.img {
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  width: 100%;
  max-width: 160px;
  height: 130px;
}
.efectoEnlace {
  box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.efectoEnlace:hover {
  transform: scale(1.05);
}
.iconoFacebook {
  color: #313d97;
}
.iconoInsta {
  color: hotpink;
}
.iconoTwitch {
  color: #5f3269;
}
.parrafo {
  letter-spacing: 5px;
}
@media (max-width: 1900px) {
  .cajaCategoria {
    width: 220px;
  }
  .letraCategoria {
    margin-right: 40px;
  }
}
@media (max-width: 1420px) {
  .cajaCategoria {
    width: 160px;
  }
  .elementosCategoria {
    flex-direction: column;
  }
  .letraCategoria {
    margin-left: 40px;
  }
}
@media (max-width: 1200px) {
  .tablaProductos {
    width: 66%;
  }
}
@media (max-width: 1070px) {
  .cajaCategoria {
    width: 120px;
  }
  .tablaProductos {
    width: 65%;
  }
  .icon_search {
    display: none;
  }
  .iconsRedSocial {
    display: none;
  }
}
@media (max-width: 960px) {
  .tablaProductos {
    width: 60%;
  }
}
@media (max-width: 810px) {
  .cajaCategoria {
    width: 90px;
  }
  .letraCategoria {
    font-size: 10px;
  }
}
@media (max-width: 640px) {
  .tablaProductos {
    width: 55%;
  }
  .cajaCategoria {
    width: 70px;
  }
}
@media (max-width: 535px) {
  .titleLicor {
    display: none;
  }
  .tablaProductos {
    width: 50%;
  }
  .cajaCategoria {
    width: 60px;
    border-radius: 1px;
  }
}
@media (max-width: 375px) {
  .tablaFiltro {
    display: none;
  }
  .tablaProductos {
    width: 20%;
  }
}

