.footer {
  background: linear-gradient(to bottom left, #1a001a, #4b0064, #a14fc1);
}
.footerGap {
  gap: 300px;
  margin-left: 15px;
  margin-right: 15px;
}
.cajaCategoria {
  border: 1px solid #d1d0d0;
  width: 100%;
  max-width: 300px;
}
.img {
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  width: 100%;
  max-width: 160px;
  height: 130px;
}
.efectoEnlace {
  box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.efectoEnlace:hover {
  transform: scale(1.05);
}
.iconoFacebook {
  color: #313d97;
}
.iconoInsta {
  color: hotpink;
}
.iconoTwitch {
  color: #5f3269;
}
.iconItems {
  gap: 20px;
}
@media (max-width: 1132px) {
  .footerGap {
    gap: 100px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media (max-width: 865px) {
  .iconItems {
    gap: 2px;
  }
}
