<footer>
  <div class="footer">
    <div class="d-flex align-items-center justify-content-center footerGap">
      <div class="d-flex w-25 flex-column mt-5 mb-3">
        <p class="m-0 text-white ">
          La Parada es tu espacio para descubrir licores únicos y selectos. Calidad, sabor y momentos especiales en cada botella. Explora, disfruta y celebra con estilo.
        </p>
        <div class="mt-2 mb-3">
          <p class="m-0 text-white">Síguenos en...</p>
        </div>
        <div class="d-flex align-items-center iconItems">
          <div class="bg-white rounded-5 px-2 efectoEnlace">
            <a href="https://www.youtube.com/" class="fs-5"><i class="bi bi-youtube"></i></a>
          </div>
          <div class="bg-white rounded-5 px-2 efectoEnlace">
            <a href="https://www.tiktok.com/" class="fs-5"><i class="bi bi-tiktok text-black"></i></a>
          </div>
          <div class="bg-white rounded-5 px-2 efectoEnlace">
            <a href="https://www.instagram.com/" class="fs-5"><i class="bi bi-instagram iconoInsta"></i></a>
          </div>
          <div class="bg-white rounded-5 px-2 efectoEnlace">
            <a href="https://www.facebook.com/" class="fs-5"><i class="bi bi-facebook iconoFacebook"></i></a>
          </div>
          <div class="bg-white rounded-5 px-2 efectoEnlace">
            <a href="https://www.twitch.tv/" class="fs-5"><i class="bi bi-twitch iconoTwitch"></i></a>
          </div>
        </div>
      </div>

      <div class="d-flex flex-column mt-5 gap-3">
        <p class="fs-4 fw-bold text-white">Sobre nosotros</p>
        <a href="contact/" class="text-white text-decoration-none">Contacto</a>
        <a href="" class="text-white text-decoration-none">Blog</a>
      </div>

      <div class="d-flex flex-column mt-5">
        <p class="fs-4 fw-bold text-white">Horario atención al cliente</p>
        <p class="text-white">Mañana / 12:00 17:00 PM</p>
        <p class="text-white">Tarde-Noche / 18:00 1.00 AM</p>
      </div>

    </div>

    <div class="me-5 ms-5">
      <hr class="f">
    </div>

    <div class="d-flex align-items-center justify-content-start ms-5">
      <p class="m-0 mb-3 text-white">2026 La Parada</p>
    </div>

  </div>
</footer>
