.contenedorPedido {
  box-shadow: 1px 1px 9px 1px #13011a;
}
.imgProducto {
  width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 200px;
}
.divSuperior {
  background-color: lightgray;
}
.divInferior {
  background-color: #ffffff;
}
div > p {
  margin: 0;
}
.imgProductoDetalles {
  width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 80px;
}
.imgFondoPedido {
  width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  max-height: 280px;
}
