div,img {
  //border: 1px solid red;
}
.imageFlat {
  width: 100%;
  max-width: 20px;
}
.btn_language {
  border: none;
}
.title {
  font-size: 60px;
  font-family: Noto Sans Gurmukhi Black, serif;
  color: #000000;
}
.iconLicor {
  width: 100%;
  max-width: 110px;
}
.divIconLicor {
  margin-right: 120px;
}
.icon_search,
.icon_account,
.icon_cart {
  cursor: pointer;
}
.background_home{
  width: 100%;
  height: auto;
}
.containerHome img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.containerHome {
  position: relative;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
}
.texto {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
}
.background_home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
button {
  color: #000000;
  font-family: Noto Sans Gurmukhi Black, serif;
  border: none;
}
.list-btn {
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: 13px 15px;
  cursor: pointer;
  color: #000000;
  border: none;
  font-weight: bold;
}
.list-btn:hover {
  color: #000000;
}
.list-btn:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 80%;
  margin-top: 5px;
  background-color: #ffffff;
  z-index: -1;
  transform: translateX(-50%);
  transition: width 0.6s ease;
  border-radius: 20px;
}

.list-btn:hover:after {
  width: 100%;
}

.list-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  border-top: 1.5px solid #ffffff;
  border-bottom: 1.5px solid #000000;
  pointer-events: none;
}
.list-btn:hover:before {
  height: 100%;
  transition: height 0.6s ease;
}
ol {
  list-style: none;
}
.titulo {
  left: 38%;
  bottom: 50%;
  font-size: 88px;
  font-family: Noto Sans Gurmukhi Black, serif;
  border: none;
  color: #010143;
}


