<div class="popup">
  <div>
    <div class="mt-5">
      <div class="d-flex align-items-center flex-column elementosEnlace">
        <a href="home/" class="text-decoration-none fs-5 fw-bold efectoEnlace">HOME</a>
        <a href="/Licores" class="text-decoration-none text-black fs-5 fw-bold efectoEnlace">PRODUCTS</a>
        <a href="about/" class="text-decoration-none text-black fs-5 fw-bold efectoEnlace">ABOUT</a>
        <a href="/contact" class="text-decoration-none text-black fs-5 fw-bold efectoEnlace">CONTACTS</a>
        <a href="blog/" class="text-decoration-none text-black fs-5 fw-bold efectoEnlace">BLOG</a>
      </div>
    </div>
  </div>
</div>
