.fondoPanel {
  background-color: #f6f0e5;
  position: sticky;
  top: 0;
  height: 40px;
  width: 100%;
}
.fondoNav {
  position: sticky;
  top: 40px;
  width: 100%;
  height: 190px;
  background-image: url("/background/solar1.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.imageFlat {
  width: 100%;
  max-width: 20px;
}
.btn_language {
  border: none;
}
.title {
  font-size: 60px;
  font-family: Noto Sans Gurmukhi Black, serif;
  color: white;
}
.iconsRedSocial {
  border: none;
}
.iconLicor {
  width: 100%;
  max-width: 110px;
}
.divIconLicor {
  margin-right: 120px;
}
.icon_search,
.icon_account,
.icon_cart {
  cursor: pointer;
}
button {
  color: #ff0000;
  font-family: Noto Sans Gurmukhi Black, serif;
  border:none;
}
.list-btn {
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: 13px 15px;
  cursor: pointer;
  color: #ffffff;
  border: none;
  font-weight: bold;
}
.list-btn:hover {
  color: #000000;
}
.list-btn:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 80%;
  margin-top: 5px;
  background-color: #ffffff;
  z-index: -1;
  transform: translateX(-50%);
  transition: width 0.6s ease;
  border-radius: 20px;
}
.list-btn:hover:after {
  width: 100%;
}
.list-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  border-top: 1.5px solid #ffffff;
  border-bottom: 1.5px solid #ffffff;
  pointer-events: none;
}
.list-btn:hover:before {
  height: 100%;
  transition: height 0.6s ease;
}
ol {
  list-style: none;
}
.titulo {
  left: 38%;
  bottom: 50%;
  font-size: 88px;
  font-family: Noto Sans Gurmukhi Black, serif;
  border: none;
}
.fondo {
  background: #f6f0e5;
  height: calc(100vh - 230px);
  overflow-x: hidden ;
}
.tablaFiltro {
  background-color: #eeece6;
  border-radius: 30px;
  box-shadow: 1px 1px 30px 10px #615f5f;
}
.tablaProductos {
  background-color: #eeece6;
  border-radius: 30px;
  box-shadow: 1px 1px 30px 10px #615f5f;
}
.hr {
  width: 1px;
  height: 20px;
  background-color: #333;
}
.columnas {
  height: 100%;
  max-height: 700px;
}
.cardProducto {
  background-color: #fff;
  border: 1px solid #d1d0d0;
  margin-bottom: 100px;
  border-radius: 8px;
  transition: transform 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cardProducto:hover {
  transform: scale(1.05);
}

.imagen {
  position: relative;
  width: 100%;
  padding-top: 100%;
}
.img1, .img2 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease;
}
.img2 {
  opacity: 0;
}
.imagen:hover .img2 {
  opacity: 1;
}
.vi単etas {
  position: absolute;
  top: 50px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  opacity: 0;
  transition: opacity 0.3s;
}
.imagen:hover .vi単etas {
  opacity: 1;
}
.circuloVi単eta {
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.circuloVi単eta:hover {
  transform: scale(1.05);
  background: black;
  color: white;
}
.btnAgregarCarrito {
  background-color: #0059ff;
  color: white;
  border: none;
  padding: 5px;
}
.btnAgregarCarrito:hover {
  background-color: #0033af;
}
